@font-face {
  font-family: 'AkzidenzGroteskBQ';
  src: url('../static/fonts/akzidenzgrotesk-medium-webfont.ttf')
}

.drawer {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 350px;
  top: 46px;
}

.game {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 280px;
  top: 44px;
  font-family: AkzidenzGroteskBQ;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
  color: #1B1B1B;
}