<template>
  <span>
    <span id="pagetitle">
      <span id ="arrow"><img id="back" src="../assets/images/backArrowBlack.png"></span>
      <p id="title">Matchmaking Lobby</p>
    </span>>
    <span id="user">
      <!-- user info from store / db -->
      <p id="userlabel">user's lobby</p>
      <img id="lock" src="../assets/images/Lock.png">
    </span>
    <span id="gametitle">
      <span id="bg">
        <!-- game info from store / db -->
        <p id=titlelabel>Fifa 19</p>
      </span>
    </span>

  </span>
</template>

<script>
  export default {
    name: 'lobbyChild'
    // data() {
    //   return
    // },
  }
</script>

<style lang="scss">

  @font-face {
    font-family: 'AkzidenzGroteskBQ';
    src: url('../static/fonts/akzidenzgrotesk-medium-webfont.ttf')
  }

  #user {
    position: absolute;
    width: 335px;
    height: 44px;
    left: 16px;
    top: 173px;
  }

  #userlabel {
    position: absolute;
    height: 44px;
    left: 0%;
    right: 7.76%;
    top: calc(50% - 44px/2);
    font-family: AkzidenzGroteskBQ;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2px;
    color: #1B1B1B;
  }

  #lock {
    position: absolute;
    left: 96.42%;
    right: 0.24%;
    top: 31.82%;
    bottom: 31.82%;
  }

  #bg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #1B1B1B;
    border-radius: 0px 100px 100px 0px;
  }
  
  #titlelabel {
    position: absolute;
    height: 12px;
    left: 8.62%;
    right: 12.07%;
    top: calc(50% - 12px/2 + 0.5px);
    font-family: AkzidenzGroteskBQ;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  #gametitle {
    position: absolute;
    width: 58px;
    height: 13px;
    left: 16px;
    top: 229px;
  }

  #pagetitle {
    position: absolute;
    width: 194px;
    height: 19px;
    left: 16px;
    top: 121px;
  }

  #arrow {
    position: absolute;
    width: 22px;
    height: 10px;
    left: 22px;
    top: 5px;
  }

  #back {
    position: absolute;
    left: 11.34%;
    right: 77.32%;
    top: 26.32%;
    bottom: 21.05%;
  }

  #title {
    position: absolute;
    height: 19px;
    left: 23.71%;
    right: -0.52%;
    top: calc(50% - 19px/2);
    font-family: AkzidenzGroteskBQ;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #1B1B1B;
  }

</style>