.gfinity {
  position: absolute;
  width: 73px;
  height: 14px;
  left: 16px;
  top: 45px;
  background: #1B1B1B;
}

.logo {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 0px;
  top: 0px;
  background: #1B1B1B;
}