<template>
  <span>
    <page />
  </span>
</template>

<script>
  import page from '../components/page';
  export default {
    components: {
      page
    },
  }
</script>

<style lang="scss">
  @import 'matchmaking'
</style>