<template>
  <span id="lobby">
    <nuxt-link :to="lobby">
      <button class="logo">
        <span class="gfinity">
          <img src="../assets/images/gfinity-logo-neg.png" />
        </span>
      </button>
    </nuxt-link>
    <span>
      <!-- render game name based on state -->
      <p class="game">FIFA 19</p>
      <div class="toggle">
        <button @click="toggle" class="drawer"><img src="../assets/images/menu.png" /></button>
        <!-- Add open class if state is set to open  -->
        <div class="slidein" :class="open ? 'open' : ''">
          <!-- Games List from state / database -->
          <h1>Games List</h1>
          <button class="close-btn" @click="toggle"> X </button>
        </div>
      </div>
    </span>
    <!-- background change based on state of game name, would require database -->
    <span id="background"><img src="../assets/images/fifa19.png" /></span>

      
  </span>
</template>

<script>
  export default {
    name: "lobby",
    data() {
      return {
        open: false
      };
    },
    methods: {
      toggle() {
        this.open = !this.open;
      }
    },
    computed: {
      lobby: function () {
        return '/lobby';
      }
    }
  }
</script>

<style lang="scss">

  .slidein {
    max-width: 600px;
    padding: 2em 3em; 
    position: fixed; 
    z-index: 100;
    top: 0;
    right: -100%;
    background: #ddd;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
    transition: all .5s ease-in-out; 
  }

  .open {
    right: 0; 
  }

  .close-btn {
    border: none; 
    font-weight: bold; 
    font-size: 2em; 
    background: transparent; 
    position: absolute; 
    top: 0;
    left: 0;
    padding: .5em;
  }

  #lobby {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #CFD1C7;
  }
  #background {
    position: absolute;
    width: 375px;
    height: 696.36px;
    left: 77px;
    top: 79px;
    mix-blend-mode: multiply;
    opacity: 0.8;
  }
  @import 'logo';
  @import 'drawer';
</style>
