<template>
  <span>
    <page />
    <lobbyChild />
  </span>
</template>

<script>
  import page from '../components/page';
  import lobbyChild from '../components/lobbyChild';
  export default {
    name: 'lobby',
    props: {
      optionName: String,
    },
    // data() {
    //   return
    // },
    components: {
      page,
      lobbyChild
    },
  }
</script>

<style lang="scss">
</style>
