<template>
  <span>
    <matchmaking />
  </span>
</template>

<script>
  import matchmaking from '../components/matchmaking';
  export default {
    components: {
      matchmaking
    },
  }
</script>

<style lang="scss">
</style>